body{
    border: 0px;
    padding: 0px;
    background-color: #080808;
}

.container{
    text-align: center;

}

img{
    margin-top: 10px;
}

.btn{
    margin-top: 10px;
    width: 700px;
    font-weight: bold;
}

.btnWinner{
    width: 420px;
}